<<h2>Videos</h2>
<meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
<style>
  video{
    position: absolute;
    width: 100%;
  }
</style>
<div class="row">
  <div class="col-md-9">
    <div class="bg-muted"><%= link_to @video.user.username, profile_path(@video.user.username) %></div>
        <%= video_tag(url_for(video.clip), style:'max-width:100%;height:auto;object-fit: fill', controls: '',controlsList:"nodownload") %>
    <p class="border-top mt-3 py-2">
      <% if @video.description.present? %>
        <%= @video.description %> -
      <% end %>
      <span class="text-muted"><%= time_ago_in_words @video.created_at %> ago</span>
    </p>
  </div>
</div>