<h1>Welcome to Scivers.com</h1>
<p>Scivers.com is a platform to share meangiful and creative ideas in the form of interactive media such as videos
	 on a various number of topics ranging from sports,education
    technology,science,business and other areas of interest</p>

<h2>How it works</h2>

<p>Here you can view photos shared by your followers 
   and watch popular videos shared by creators across
   many spectrums such as sports,education,entertainment,
   travel,business and other areas of interest.
   </p>

<h2>For creators</h2>

<p> Here is your chance to showcase your talent and share your knowledge and 
    creative skills and ideas on a range of topics ranging from sports to education
    to travel,science,business and other areas of interest.</br>

    Grow your audience by sharing meaningful and creative content 
    and build a greater and deeper relationship with them </p>   